In [2]:
import pandas as pd
import seaborn as sns
import orders from

# Importing Data

In [4]:
orders = pd.read_csv("../clean_data/clean_orders.csv")

# Data Inspection

## Products

In [39]:
orders.head()

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled

In [41]:
orders.dtypes

order_id          int64
created_date     object
total_paid      float64
state            object
dtype: object